extends layout

block content

  h3.center-align Teste vocacional FACCAT

  p Objetivo desse teste é identificar em qual curso da Faccat o seu perfil se encaixa
  p Esse teste se baseia totalmente em perfis já existentes de egressos da instituição

  .row
    .col.s12.m6
      .card
        .card-content.white-text.indigo
          span.card-title Estudante Faccat?
          p Se você já é estudante na Faccat, por favor, realize esse teste.
        .card-action
          a.indigo-text(href="/student") Fazer o teste

    .col.s12.m6
      .card
        .card-content.white-text.indigo
          span.card-title Não estudante?
          p Se você não é estudante na Faccat, por favor, realize esse teste.
        .card-action
          a.indigo-text(href="/find") Fazer o teste
