doctype html
html
  head
    title Teste vocacional Faccat #{title ? ' - ' + title : ''}

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
  
    nav.white
      .nav-wrapper
          a.indigo-text.brand-logo(href='/') Teste vocacional Faccat

    .ribbon.indigo

    .container
      .card-panel
        block content

    footer.page-footer.white
      .container
        .row
          ul
            li
              a.grey-text(href='https://www2.faccat.br/portal' target="_blank") Faccat
            li
              a.grey-text(href='https://fit.faccat.br/ead' target="_blank") Sistemas de Informação | Tecnólogo Sistemas para Internet | Jogos Digitais
  
    script(defer src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(defer src="/js/main.js")
